@import '../../../../node_modules/nib';

.ov-full-screen-icon
  padding 5px
  cursor pointer
  border-radius 3px
  border 1px #ccc solid
  opacity 1
  transition opacity 250ms ease-out

.ov-full-screen-icon.disappear
  opacity 0

.ov-full-screen-icon:hover
  box-shadow 0 1px 1px rgba(0, 0, 0, 0.02)

.ov-full-screen-backdrop
  background rgba(0, 0, 0, 0)
  color #fff
  position fixed
  padding 10px
  transition all 250ms ease-out 50ms
  z-index 100

  .ov-full-screen-heading
  .ov-full-screen-remove-icon
    opacity 0
    transition all 250ms ease-out

  .ov-full-screen-heading
    margin-top 10px

  .ov-full-screen-remove-icon
    margin-top 5px
    font-size 20px

.ov-full-screen-backdrop.full-screen
  background rgba(0, 0, 0, 0.7)
  /*top 0 !important*/
  /*left 0 !important*/
  /*width 100% !important*/
  /*height 100% !important*/

  .ov-full-screen-heading
  .ov-full-screen-remove-icon
    opacity 1

  .ov-full-screen-remove-icon .glyphicon
    cursor pointer

.ov-full-screen-anchor
  position relative
  transition all 250ms ease-out 50ms

.ov-full-screen-anchor.floating
  /*top 60px !important*/
  /*left 10px !important*/
  /*right 10px !important*/
  /*bottom 10px !important*/

.ov-full-screen-imitated-element
  position relative
