.no-space {
  padding: 0 !important;
  padding-top: 0 !important;
  padding-right: 0 !important;
  padding-bottom: 0 !important;
  padding-left: 0 !important;
  margin: 0 !important;
  margin-top: 0 !important;
  margin-right: 0 !important;
  margin-bottom: 0 !important;
  margin-left: 0 !important;
}
.ov-full-screen-icon {
  padding: 5px;
  cursor: pointer;
  border-radius: 3px;
  border: 1px #ccc solid;
  opacity: 1;
  -ms-filter: none;
  filter: none;
  -webkit-transition: opacity 250ms ease-out;
  -moz-transition: opacity 250ms ease-out;
  -o-transition: opacity 250ms ease-out;
  -ms-transition: opacity 250ms ease-out;
  transition: opacity 250ms ease-out;
}
.ov-full-screen-icon:hover {
  -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.02);
  box-shadow: 0 1px 1px rgba(0,0,0,0.02);
}
.ov-full-screen-backdrop {
  background: rgba(0,0,0,0);
  color: #fff;
  position: fixed;
  padding: 10px;
  -webkit-transition: all 250ms ease-out 50ms;
  -moz-transition: all 250ms ease-out 50ms;
  -o-transition: all 250ms ease-out 50ms;
  -ms-transition: all 250ms ease-out 50ms;
  transition: all 250ms ease-out 50ms;
  z-index: 100;
}
.ov-full-screen-backdrop .ov-full-screen-heading,
.ov-full-screen-backdrop .ov-full-screen-remove-icon {
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  -webkit-transition: all 250ms ease-out;
  -moz-transition: all 250ms ease-out;
  -o-transition: all 250ms ease-out;
  -ms-transition: all 250ms ease-out;
  transition: all 250ms ease-out;
}
.ov-full-screen-backdrop .ov-full-screen-heading {
  margin-top: 10px;
}
.ov-full-screen-backdrop .ov-full-screen-remove-icon {
  margin-top: 5px;
  font-size: 20px;
}
.ov-full-screen-backdrop.full-screen {
  background: rgba(0,0,0,0.7);
}
.ov-full-screen-backdrop.full-screen .ov-full-screen-heading,
.ov-full-screen-backdrop.full-screen .ov-full-screen-remove-icon {
  opacity: 1;
  -ms-filter: none;
  filter: none;
}
.ov-full-screen-backdrop.full-screen .ov-full-screen-remove-icon .glyphicon {
  cursor: pointer;
}
.ov-full-screen-anchor {
  position: relative;
  -webkit-transition: all 250ms ease-out 50ms;
  -moz-transition: all 250ms ease-out 50ms;
  -o-transition: all 250ms ease-out 50ms;
  -ms-transition: all 250ms ease-out 50ms;
  transition: all 250ms ease-out 50ms;
}
.ov-full-screen-anchor.floating {
  max-width: 100% !important;
  max-height: 100% !important;
}
.ov-full-screen-anchor.free-width {
  width: auto !important;
  height: auto !important;
}
.ov-full-screen-imitated-element {
  position: relative;
}
