<div id="sectionPortfolio" class="section-portfolio">
  <div class="section-heading">
    <h2 class="section-title">Rhytheme</h2>
    <div class="section-separator">
      <span class="solid-line">×××</span>
    </div>
    <div class="section-subtitle">
      Do small things with great love
    </div>
  </div>
  <div class="portfolio-filter">
    <span class="filter-label">
      Filter by</span>
    <ul class="filter-tag-container">
      <li class="filter-tag"
          ng-repeat="item in ['all', 'angularJs','html','css']"
          ng-click="">
        <span>{{ item }}</span>
      </li>
    </ul>
  </div>
  <div class="portfolio-list clearfix">
    <div class="col-xs-offset-2 col-xs-8 col-sm-offset-0 col-sm-6 col-md-3 portfolio-item"
         ng-repeat="item in [{name: 'httk', icon: 'fa fa-newspaper-o'}, {name: 'blisk', icon: 'glyphicon glyphicon-picture'},
          {name: 'dnn', icon: 'glyphicon glyphicon-ok'}, {name: 'pics', icon: 'glyphicon glyphicon-picture'}]"
         ng-click="">
      <a class="item-content" href
         ng-click="">
        <img class="item-img" src="../../../images/graphic-03-thumb11-480x360.jpg">
        <div class="item-icon" ng-class="item.icon">&nbsp;</div>
        <h5 class="item-caption">{{ item.name }}</h5>
      </a>
    </div>
  </div>
  <div class="portfolio-discovery">
    <button class="discovery-btn"
            ng-click="">Browse All
    </button>
  </div>
</div>