<!--app header-->
<header role="banner" id="appHeader" class="app-header">
  <!--top dashed line-->
  <hr class="top dashed-line">
  <!--header view-->
  <div class="app-container">
    <ul class="app-navbar clearfix">
      <li class="menu-item">
        <a class="link" href
           ng-click="rhytheme.switchView('portfolio')">Rhytheme</a>
      </li>
      <!--app logo-->
      <li class="app-logo">
        <a href="/">
          <svg height="160" width="160" class="logo">
            <circle cx="80" cy="80" r="80" fill="#e68966"></circle>
            <circle cx="80" cy="80" r="69" fill="none"
                    stroke="#547171" stroke-dasharray="5,5" stroke-width="1"></circle>
          </svg>
        </a>
      </li>
      <li class="menu-item">
        <a class="link" href
           ng-click="rhytheme.switchView('about')">About Me</a>
      </li>
    </ul>
  </div>
  <!--bottom dashed line-->
  <hr class="bottom dashed-line">
</header><!--end app header-->

<!--app main-->
<main role="main" id="appMain" class="app-main">
  <!--top dashed line-->
  <hr class="top dashed-line">
  <!--main view-->
  <div class="app-container"
       ng-include="rhytheme.currentTemplate">
    <!--main content-->
  </div>
  <!--bottom dashed line-->
  <hr class="bottom dashed-line">
</main><!--end app main-->

<!--app footer-->
<footer id="appFooter" class="app-footer">
  <!--top dashed line-->
  <hr class="top dashed-line">
  <!--footer view-->
  <div class="app-container">
    footer content
  </div>
  <!--bottom dashed line-->
  <hr class="bottom dashed-line">
</footer><!--end app footer-->