<div id="main-wrapper" class="main-wrapper container">
  <!--<header id="appHeader" class="app-header">
    <nav id="appNav" class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="/demo#/">Project</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li ng-class="{ active: demo.menu === 'demo#/home' }">
              <a href="/demo#/home" ng-click="demo.activateMenu($event)">Home</a>
            </li>
            <li ng-class="{ active: demo.menu === 'demo#/tree-view' }">
              <a href="/demo#/tree-view" ng-click="demo.activateMenu($event)">OV Tree View</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>-->

  <header role="banner" id="appHeader" class="app-header">
    <!--top dashed line-->
    <hr class="top dashed-line">
    <!--header view-->
    <div class="app-container">
      <ul class="app-navbar clearfix">
        <!--app logo-->
        <li class="app-logo">
          <a href="/">
            <!--<img src="../../../images/about.jpg">-->
            <svg height="80" width="80" class="logo">
              <circle cx="40" cy="40" r="40" fill="none"></circle>
              <circle cx="40" cy="40" r="39" fill="none"
                      stroke="#547171" stroke-dasharray="3,5" stroke-width="1"></circle>
            </svg>
          </a>
        </li>
        <li class="menu-item">
          <a class="link" href
             ng-click="demo.toPortfolio()"
             ng-class="{ active: demo.view.portfolio }">OV Components</a>
        </li>
      </ul>
    </div>
    <!--bottom dashed line-->
    <hr class="bottom dashed-line">
  </header><!--end app header-->

  <aside>
    Sidebar
  </aside>

  <section ng-view></section>

  <footer id="appFooter" class="app-footer"></footer>
</div>