@import '../../../../../node_modules/nib'

//variables & functions definition
headerHeight = 100px
footerHeight = 6.8rem
mainColor = #383a3c
offset1 = 8.33333333%
offset2 = 16.66666667%

backgroundImg(hex)
  background hex url('../rhytheme/images/grain.png')

@font-face
  font-family 'Bazar'
  src url('../rhytheme/fonts/Bazar.woff') format('woff')

@font-face
  font-family 'Roboto Slab'
  src /* IE9 Compat Modes */ url('../rhytheme/fonts/Roboto-Slab.eot') , /* IE6-IE8 */ url('../rhytheme/fonts/Roboto-Slab.eot?#iefix') format('embedded-opentype'), /* Safari, Android, iOS */ url('../rhytheme/fonts/Roboto-Slab.ttf') format('truetype'), /* Legacy iOS */ url('../rhytheme/fonts/Roboto-Slab.svg#roboto_slabregular') format('svg'), /* Modern Browsers */ url('../rhytheme/fonts/Roboto-Slab.woff') format('woff')

@font-face
  font-family 'Roboto Slab Bold'
  src /* IE9 Compat Modes */ url('../rhytheme/fonts/Roboto-Slab-Bold.eot') , /* IE6-IE8 */ url('../rhytheme/fonts/Roboto-Slab-Bold.eot?#iefix') format('embedded-opentype'), /* Safari, Android, iOS */ url('../rhytheme/fonts/Roboto-Slab-Bold.ttf') format('truetype'), /* Legacy iOS */ url('../rhytheme/fonts/Roboto-Slab-Bold.svg#roboto_slabbold') format('svg'), /* Modern Browsers */ url('../rhytheme/fonts/Roboto-Slab-Bold.woff') format('woff')

@font-face
  font-family 'Oswald'
  src /* IE9 Compat Modes */ url('../rhytheme/fonts/Oswald-Latin.eot') , /* IE6-IE8 */ url('../rhytheme/fonts/Oswald-Latin.eot?#iefix') format('embedded-opentype'), /* Safari, Android, iOS */ url('../rhytheme/fonts/Oswald-Latin.ttf') format('truetype'), /* Legacy iOS */ url('../rhytheme/fonts/Oswald-Latin.svg#Oswald') format('svg'), /* Modern Browsers */ url('../rhytheme/fonts/Oswald-Latin.woff') format('woff'), /* Super Modern Browsers */ url('../rhytheme/fonts/Oswald-Latin.woff2') format('woff2')

@font-face
  font-family 'Oswald Bold'
  src /* Super Modern Browsers */ url('../rhytheme/fonts/Oswald-Latin-Bold.woff2') format('woff2')

// common used style
/*html*/
/*body*/
/*.rhytheme-app*/
  /*height 100%*/

body
  color mainColor
  font-family 'Roboto Slab'

.app-container
  max-width 960px
  margin 0 auto
  padding-left 1.6rem
  padding-right 1.6rem

.dashed-line
  margin 0
  border-top 0.1rem dashed rgba(0, 0, 0, 0.25)
  border-bottom 0.1rem dashed rgba(255, 255, 255, 0.25)
  position absolute
  z-index 9
  width 100%
  height 0
  background-color transparent

.top.dashed-line
  top 10px

.bottom.dashed-line
  bottom 10px

// specific used style
.app-header
  backgroundImg(#e49679)
  position fixed
  top 0
  left 0
  right 0
  z-index 88
  box-shadow 0 0.1rem 0.5rem rgba(0, 0, 0, 0.25)
  border-bottom 0.1rem solid rgba(0, 0, 0, 0.15)

  .app-container
    height headerHeight
    backgroundImg(#e68966)

  .app-navbar
    padding 0
    margin 0
    text-align center
    list-style none
    display flex

    .menu-item
      float left
      width 20%
      padding 30px 0
      font-family 'Bazar'
      font-size 2.7rem
      text-transform uppercase
      flex 2

      .link
        color #f6edd8
        display inline-block
        position relative
        transition margin-top 0.2s ease
        text-shadow 0 0.3rem 0.3rem rgba(0, 0, 0, 0.2)

        &:hover
          color #ffefca
          text-decoration none
        &:focus
          text-decoration none
        &.active:before,
        &.active:after
          content '..'
          position absolute
          top -1.5rem
        &.active:before
          left -1.5rem
        &.active:after
          right -1.5rem
    /*todo-add some movements to triple dots*/

    .app-logo
      float left
      flex 1
      height headerHeight
      position relative
      z-index 89

      .logo
        margin-top -20px
        transition margin-top 0.2s ease
        &:hover
          margin-top 0

.app-main
  min-height 100vh
  padding-top headerHeight
  padding-bottom footerHeight
  display flex
  backgroundImg(#f7f3e5)

  .main-wrapper
    display flex
    flex 1
    position relative

  .app-container
    backgroundImg(#e6e1d0)

.app-footer
  backgroundImg(#4c5057)
  color #f6edd8
  z-index 2
  text-align center
  position relative
  padding 2.4rem 0
  margin-top (- footerHeight)

  .link
    color #f6edd8

    &:hover
      text-decoration underline dotted

// style for each specific sections
.section-heading
  padding-bottom 1.6rem

  .section-title
    font-size 7.5rem
    font-family 'Bazar'
    text-align center
    text-transform uppercase
    text-shadow 0.1rem 0.2rem #fcfaf7, 0.3rem 0.4rem #484a4d
    padding-top 1.6rem
    margin-top 0
    margin-bottom 0.6rem

  .section-subtitle
    text-align center
    font-family Oswald
    text-transform uppercase
    font-size 1.6rem

  .section-separator
    text-align center
    font-size 2.4rem
    line-height 2.4rem

    .solid-line
      position relative
      display inline-block
      width 4.5rem

      &:before
      &:after
        content ''
        width 4.5rem
        position absolute
        top 1.1rem
        border-bottom 0.2rem mainColor solid

      &:before
        right 100%
        margin-right 0.5rem

      &:after
        left 100%
        margin-left 0.5rem

.section-portfolio
  .portfolio-filter
    display flex
    margin-top 2.4rem
    margin-bottom 0.6rem

    .filter-label
      margin-right 0.8rem
      font-size 1.6rem

    .filter-tag-container
      flex 1
      padding 0
      list-style none

      .filter-tag
        display inline-block
        position relative
        color mainColor
        cursor pointer
        font-family 'Roboto Slab Bold'
        font-size 1.2rem
        line-height 1.6rem
        background #fcfaf7
        padding 0.4rem 0.8rem
        margin-left 1.2rem
        margin-right 0.9rem
        border-top-right-radius 0.3rem
        border-bottom-right-radius 0.3rem
        box-shadow 0.1rem 0.1rem 0.1rem rgba(0, 0, 0, 0.2)

        &:before
        &:after
          content ''

        &:before
          position absolute
          top 0
          right 100%
          border-color transparent #fcfaf7 transparent transparent
          border-width 1.2rem 1.2rem 1.2rem 0
          border-style solid

        &:after
          position absolute
          width 0.4rem
          height 0.4rem
          top 10px
          left 0
          border-radius 50%
          background #959ca3

  .portfolio-list
    margin 0 -10px 1.6rem

    .portfolio-item
      padding 0 10px
      margin-bottom 20px

      .full-screen-wrapper
        z-index 1

      .portfolio-iframe
        width 100%
        height 100%
        border 0

      .item-content
        z-index initial
        display block
        position relative
        background #fcfaf7
        color mainColor
        border 0.4rem transparent solid
        border-radius 0.3rem
        box-shadow 0 0.1rem 0.1rem rgba(0, 0, 0, 0.25)

        &:before
        &:after
          content ''
          position absolute
          z-index -1
          bottom 1.2rem
          width 50%
          height 1.5rem
          border-radius 0.4rem
          box-shadow 0 1.5rem 0.5rem rgba(0, 0, 0, 0.25)

        &:before
          left 0
          transform: rotate(-4deg);

        &:after
          right 0
          transform: rotate(4deg);

        &:hover
          text-decoration none

          .item-icon
            top -1.8rem

        .item-img
          width 100%
          min-height 15.9rem

        .item-icon
          display block
          position relative
          top -1.2rem
          margin 0 auto
          background #fcfaf7
          color #828c8e
          width 4.4rem
          height 4.4rem
          border-radius 50%
          transition top 0.2s ease

          &:before
            position absolute
            top 1.2rem
            left 1.2rem
            font-size 20px

        .item-caption
          text-align center
          font-size 1.2rem
          font-weight bold
          text-transform uppercase
          margin -1.2rem 0 10px

  .portfolio-discovery
    text-align center
    padding-bottom 2.6rem

    .discovery-btn
      background transparent
      border 0
      outline 0
      text-transform uppercase
      font-family 'Oswald Bold'
      padding 0.6rem 0 0
      position relative

      &:before
        content ''
        position absolute
        top 0
        left 0
        right 0
        height 0.2rem
        background mainColor
        transform scaleX(0.6)
        transition transform 0.3s ease

      &:hover:before
        transform scaleX(1)

.section-about
  padding-bottom 1.6rem
  .about-content
    margin 2.4rem -10px 0

    .about-row
      display flex
      padding 0 10px

      .about-block
        flex 1
        position relative
        padding 0 20px
        margin-bottom 20px

        &.left-border
          border-left 0.2rem mainColor solid

          &:before
            content ''
            position absolute
            top 0
            bottom 0
            left -.6rem
            width 0.2rem
            background mainColor

        &.justify
          text-align justify

        &:nth-child(even)
          margin-left 8.33333333%

        .block-title
          margin-top 0.5rem
          font-size 1.6rem
          font-family 'Bazar'
          text-transform uppercase

          .highlighted
            color #ad4d32
            font-size 2.4rem

        .paragraph
          &.with-icon
            display flex
            align-items center
          &.quote
            font-family 'Oswald'
            font-size 1.6rem
            font-style italic

          &:first-child
            margin-top 0.7rem

          .icon
            min-width 3.2rem
            max-height 2.8rem
            font-size 2.4rem

            &.fa-skype
              font-size 3.2rem

          .text
            flex 1
            margin-left 0.6rem

            .link
              color mainColor

              &:hover
                text-decoration underline dotted

      .bolder
        font-family 'Oswald Bold'

@media (max-width 76.8rem)
  .section-about
    .about-content
      .about-row
        display block

        .about-block
          margin 0 8.33333333%