@import '../../../../node_modules/nib'
@import url(styles/common.css);
@import url(styles/app.header.css);
@import url(styles/app.main.css);
@import url(styles/app.footer.css);
@import url(styles/section.heading.css);
@import url(styles/section.portfolio.css);
@import url(styles/section.about.css);

body
  color var(--main-color)
  font-family 'Roboto Slab'

.app-container
  max-width 96rem
  margin 0 auto
  padding-left 1.6rem
  padding-right 1.6rem

.dashed-line
  margin 0
  border-top 0.1rem dashed rgba(0, 0, 0, 0.25)
  border-bottom 0.1rem dashed rgba(255, 255, 255, 0.25)
  position absolute
  z-index 9
  width 100%
  height 0
  background-color transparent

.top.dashed-line
  top 1rem

.bottom.dashed-line
  bottom 1rem

@media (min-width 960px)
  .app-container
    width 96rem

@media (min-width 769px)
  .col-sm-4
    width (100 / 3) %;

@media (max-width 376px)
  html
    font-size 6px
