<div id="sectionPortfolio" class="section-portfolio">
  <div class="section-heading">
    <h2 class="section-title">{{ rhytheme.portfolio.title }}</h2>

    <div class="section-separator">
      <span class="solid-line">×××</span>
    </div>
    <div class="section-subtitle">
      {{ rhytheme.portfolio.subtitle }}
    </div>
  </div>
  <div class="portfolio-filter">
    <span class="filter-label">Tags:</span>
    <ul class="filter-tag-container">
      <li class="filter-tag"
          ng-repeat="tag in rhytheme.portfolio.filterTag"
          ng-click="rhytheme.portfolio.onFilter(tag)">
        <span>{{ tag || 'all' }}</span>
      </li>
    </ul>
  </div>
  <div class="portfolio-list clearfix">
    <div class="col-xs-6 col-sm-4 portfolio-item"
         ng-repeat="item in filtedItems = (rhytheme.portfolio.list | filter:{ tag: rhytheme.portfolio.filteredBy })">
      <div class="item-wrapper"
           ng-class="{ 'detailed': item.showDetail }"
           ng-mouseleave="rhytheme.portfolio.onMouseLeave(item, $event)"
           ng-mouseenter="rhytheme.portfolio.onMouseEnter(item, $event)">
        <!--portfolio item-->
        <div class="item-content" ng-click="item.showDetail = !item.showDetail">
          <!--thumbnail image-->
          <div class="sliding-content">
            <div class="item-thumbnail">
              <img class="item-img" ng-src="{{ ::item.thumbnail }}" src="" ng-attr-alt="{{ ::item.name }}" alt="">
            </div>
            <div class="item-icon">
              <img class="icon-img" ng-src="{{ ::item.icon }}" src="" ng-attr-alt="{{ ::item.tag }}" alt="">
            </div>
          </div>
          <div class="item-detail">
            <ul class="list-detail">
              <li ng-repeat="line in item.detail">{{ ::line }}</li>
              <li>
                <span ng-style="{textDecoration: !item.responsive ? 'line-through' : 'none'}">Responsive</span>
                <i class="fa fa-check" style="color: green" ng-show="::item.responsive"></i>
                <i class="fa fa-times" style="color: red" ng-show="::!item.responsive"></i>
              </li>
            </ul>
          </div>
          <h5 class="item-caption">
            <span class="caption-span left capitalized">
              <span class="span-content">{{ ::item.name }}</span>
            </span>
            <span class="separator">&nbsp;</span>
            <span class="caption-span right action">
              <a class="span-content" href target="_blank"
                 ng-href="{{ ::item.demo }}" ng-click="$event.stopPropagation();">Live Demo</a>
            </span>
          </h5>
        </div>
      </div>
    </div>
    <div ng-show="!filtedItems.length">No items!</div>
  </div>
  <!--<div class="portfolio-discovery">-->
  <!--<button class="discovery-btn"-->
  <!--ng-click="">{{ rhytheme.portfolio.browseBtn }}-->
  <!--</button>-->
  <!--</div>-->
</div>
