<!--app header-->
<header role="banner" id="appHeader" class="app-header">
  <!--top dashed line-->
  <hr class="top dashed-line">
  <!--header view-->
  <div class="app-container">
    <ul class="app-navbar clearfix">
      <li class="menu-item">
        <a class="link" href
           ng-click="rhytheme.toPortfolio()"
           ng-class="{ active: rhytheme.view.portfolio }">{{ rhytheme.portfolio.title }}</a>
      </li>
      <!--app logo-->
      <li class="app-logo">
        <a href="/">
          <svg height="120" width="120" class="logo">
            <clipPath id="imgLogo">
              <circle cx="60" cy="60" r="60" fill="none"></circle>
            </clipPath>
            <image width="120" height="120"
                   class="logo-img" clip-path="url(#imgLogo)"
                   href="../../../images/about.jpg"></image>
            <circle cx="60" cy="60" r="56" fill="none"
                    stroke="#ffffff40" stroke-dasharray="3,5" stroke-width="1"></circle>
            <circle cx="60" cy="60" r="55" fill="none"
                    stroke="#547171" stroke-dasharray="3,5" stroke-width="1"></circle>
          </svg>
        </a>
      </li>
      <li class="menu-item">
        <a class="link" href
           ng-click="rhytheme.toAbout()"
           ng-class="{ active: rhytheme.view.about }">{{ rhytheme.about.title }}</a>
      </li>
    </ul>
  </div>
  <!--bottom dashed line-->
  <hr class="bottom dashed-line">
</header><!--end app header-->

<!--app main-->
<main role="main" id="appMain" class="app-main">
  <!--top dashed line-->
  <hr class="top dashed-line">
  <!--main view-->
  <div class="app-container"
       ng-include="rhytheme.currentTemplate">
    <!--main content-->
  </div>
  <!--bottom dashed line-->
  <hr class="bottom dashed-line">
</main><!--end app main-->

<!--app footer-->
<footer id="appFooter" class="app-footer">
  <!--top dashed line-->
  <hr class="top dashed-line">
  <!--footer view-->
  <div class="app-container">
    &copy; 2017 Based on
    <a class="link" target="_blank" href="http://themes.opendept.net/retro-portfolio-4/">Retro Portfolio</a> by
    <a class="link" target="_blank" href="http://opendept.net/">Opendept</a>
  </div>
</footer><!--end app footer-->