<div id="sectionPortfolio" class="section-portfolio">
  <div class="section-heading">
    <h2 class="section-title">{{ rhytheme.portfolio.title }}</h2>

    <div class="section-separator">
      <span class="solid-line">×××</span>
    </div>
    <div class="section-subtitle">
      {{ rhytheme.portfolio.subtitle }}
    </div>
  </div>
  <div class="portfolio-filter">
    <span class="filter-label">Tags:</span>
    <ul class="filter-tag-container">
      <li class="filter-tag"
          ng-repeat="tag in rhytheme.portfolio.filterTag"
          ng-click="">
        <span>{{ tag }}</span>
      </li>
    </ul>
  </div>
  <div class="portfolio-list clearfix"> <!--todo replace col- class-->
    <div class="col-xs-6 col-md-4 portfolio-item"
         ng-repeat="item in rhytheme.portfolio.list">
      <div class="full-screen-wrapper">
        <!--portfolio item-->
        <a class="item-content" target="_blank"
           ng-href="https://rhytheme-esg.herokuapp.com/">
          <!--thumbnail image-->
          <div class="" style="height: 150px; overflow: hidden;">
            <img class="item-img" ng-src="{{ ::item.img }}" src="">
          </div>
          <div class="item-icon">
            <img class="icon-img" ng-src="{{ ::item.icon }}" src="">
          </div>
          <h5 class="item-caption">{{ ::item.name }}</h5>
        </a>
      </div>
    </div>
  </div>
  <div class="portfolio-discovery">
    <button class="discovery-btn"
            ng-click="">{{ rhytheme.portfolio.browseBtn }}
    </button>
  </div>
</div>