<!--app header-->
<header role="banner" id="appHeader" class="app-header">
  <!--top dashed line-->
  <hr class="top dashed-line">
  <!--header view-->
  <div class="app-container">
    <ul class="app-navbar clearfix">
      <li class="menu-item">
        <a class="link" href
           ng-click="rhytheme.toPortfolio()"
           ng-class="{ active: rhytheme.view.portfolio }">{{ rhytheme.portfolio.title }}</a>
      </li>
      <!--app logo-->
      <li class="app-logo">
        <a href="/">
          <svg class="logo">
            <clipPath id="imgLogo">
              <circle class="logo-circle avatar" fill="none"></circle>
            </clipPath>
            <circle class="logo-circle background" fill="#00000026" stroke-width="1"></circle>
            <image class="logo-img" clip-path="url(#imgLogo)"
                   href="../../../images/logo.png"></image>
            <circle class="logo-circle border dark" fill="none"
                    stroke="#ffffffaa"></circle>
            <circle class="logo-circle border light" r="56" fill="none"
                    stroke="#547171" stroke-dasharray="3,5" stroke-width="1"></circle>
          </svg>
        </a>
      </li>
      <li class="menu-item">
        <a class="link" href
           ng-click="rhytheme.toAbout()"
           ng-class="{ active: rhytheme.view.about }">{{ rhytheme.about.title }}</a>
      </li>
    </ul>
  </div>
  <!--bottom dashed line-->
  <hr class="bottom dashed-line">
</header><!--end app header-->

<!--app main-->
<main role="main" id="appMain" class="app-main">
  <div class="main-wrapper">
    <!--top dashed line-->
    <hr class="top dashed-line">
    <!--main view-->
    <!--<div class="app-container" ng-include="rhytheme.currentTemplate">-->
    <div class="app-container">
      <!--main content-->
      <div ng-show="rhytheme.view.portfolio" ng-include="'scripts/app/rhytheme/view.portfolio.html'"></div>
      <div ng-show="rhytheme.view.about" ng-include="'scripts/app/rhytheme/view.about.html'"></div>
    </div>
    <!--bottom dashed line-->
    <hr class="bottom dashed-line">
  </div>
</main><!--end app main-->

<!--app footer-->
<footer id="appFooter" class="app-footer">
  <!--top dashed line-->
  <hr class="top dashed-line">
  <!--footer view-->
  <div class="app-container">
    &copy; 2022 Inspired by
    <a class="link" target="_blank" href="http://themes.opendept.net/retro-portfolio-4/">Retro Portfolio</a>
  </div>
</footer><!--end app footer-->
