@import '../../../../node_modules/nib'

@font-face
  font-family 'Proxima Nova Light'
  src url('fonts/proximanova/proximanova-light-webfont.eot') , url('fonts/proximanova/proximanova-light-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/proximanova/proximanova-light-webfont.woff') format('woff'), url('fonts/proximanova/proximanova-light-webfont.ttf') format('truetype'), url('fonts/proximanova/proximanova-light-webfont.svg#ProximaNovaLight') format('svg')
  font-weight 100
  font-style normal

@font-face
  font-family 'Proxima Nova Regular'
  src url('fonts/proximanova/proximanova-regular-webfont.eot') , url('fonts/proximanova/proximanova-regular-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/proximanova/proximanova-regular-webfont.woff') format('woff'), url('fonts/proximanova/proximanova-regular-webfont.ttf') format('truetype'), url('fonts/proximanova/proximanova-regular-webfont.svg#ProximaNovaRegular') format('svg')
  font-weight normal
  font-style normal

@font-face
  font-family 'Proxima Nova Bold'
  src url('fonts/proximanova/proximanova-semibold-webfont.eot') , url('fonts/proximanova/proximanova-semibold-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/proximanova/proximanova-semibold-webfont.woff') format('woff'), url('fonts/proximanova/proximanova-semibold-webfont.ttf') format('truetype'), url('fonts/proximanova/proximanova-semibold-webfont.svg#ProximaNovaSemibold') format('svg')
  font-weight bold
  font-style normal

@font-face
  font-family 'Proxima Nova Black'
  src url('fonts/proximanova/proximanova-black-webfont.eot') , url('fonts/proximanova/proximanova-black-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/proximanova/proximanova-black-webfont.woff') format('woff'), url('fonts/proximanova/proximanova-black-webfont.ttf') format('truetype'), url('fonts/proximanova/proximanova-black-webfont.svg#ProximaNovaBlack') format('svg')
  font-weight 800
  font-style normal

@font-face
  font-family 'Proxima Nova Extra Bold'
  src url('fonts/proximanova/proximanova-extrabld-webfont.eot') , url('fonts/proximanova/proximanova-extrabld-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/proximanova/proximanova-extrabld-webfont.woff') format('woff'), url('fonts/proximanova/proximanova-extrabld-webfont.ttf') format('truetype'), url('fonts/proximanova/proximanova-extrabld-webfont.svg#ProximaNovaExtrabold') format('svg')
  font-weight 900 !important
  font-style normal

@font-face
  font-family 'Digital 7'
  src url('fonts/digital-7/digital-7.ttf') format('truetype')
  font-weight 100
  font-style normal

@font-face
  font-family 'Digital 7 Italic'
  src url('fonts/digital-7/digital-7-italic.ttf') format('truetype')
  font-weight 100
  font-style italic

@font-face
  font-family 'Digital 7 Mono'
  src url('fonts/digital-7/digital-7-mono.ttf') format('truetype')
  font-weight 100
  font-style normal

@font-face
  font-family 'Digital 7 Mono Italic'
  src url('fonts/digital-7/digital-7-mono-italic.ttf') format('truetype')
  font-weight 100
  font-style italic

.httk-app
  background #fff

.header-container
  overflow hidden

.ymaps-2-1-34-balloon
  border solid 2px #363636 !important
  border-radius 13px / 32px
  background #363636 !important

.ymaps-2-1-34-balloon .my-layout
  color white
  font-family 'Proxima Nova', 'Helvetica Neue', Helvetica, Arial, sans-serif
  font-size 14px
  font-weight 600

.ymaps-2-1-34-balloon .ymaps-2-1-34-balloon__close-button
  display none

.ymaps-2-1-34-balloon .ymaps-2-1-34-balloon__tail
  transform none !important
  -webkit-transform none !important
  top 102% !important
  background-image url('images/balloon_tail.png')
  width 25px
  height 14px
  box-shadow none !important
  -webkit-box-shadow none !important

.ymaps-2-1-34-balloon .ymaps-2-1-34-balloon__tail:after
  background-color transparent !important

.ymaps-2-1-34-balloon .ymaps-2-1-34-balloon__layout
  background transparent

.ymaps-2-1-34-balloon .ymaps-2-1-34-balloon__layout .ymaps-2-1-34-balloon__content
  background transparent
  border 0
  margin-right 0
  padding-right 12px
  padding-bottom 12px

.ymaps-2-1-34-balloon .ymaps-2-1-34-balloon__layout .ymaps-2-1-34-balloon__content > ymaps
  height auto !important

.httk-navbar
  border 0
  border-radius 0
  margin-bottom 0
  min-height 105px
  background transparent

.httk-navbar-header
  position relative

.httk-navbar .httk-btn-toggle
  position absolute
  right 0
  top 30px
  border 0

.httk-navbar .httk-btn-toggle:focus,
.httk-navbar .httk-btn-toggle:hover
  background transparent

.httk-navbar .httk-btn-toggle .icon-bar
  background #0083b3

.httk-navbar .httk-btn-toggle.collapsed .icon-bar
  visibility visible

.httk-navbar .httk-btn-toggle .icon-bar
  visibility hidden

.httk-navbar .httk-btn-toggle.collapsed .icon-bar-close
  visibility hidden

.httk-navbar .httk-btn-toggle .icon-bar-close
  visibility visible

.httk-navbar .httk-btn-toggle .icon-bar-close:nth-child(4)
  transform rotate(45deg)
  margin-top -8px

.httk-navbar .httk-btn-toggle .icon-bar-close:nth-child(5)
  transform rotate(135deg)
  margin-top -2px

.httk-navbar .httk-navbar-collapse
  padding 0
  border 0

.httk-navbar .httk-navbar-nav
  float right

.httk-navbar .httk-navbar-nav .httk-navbar-nav-li
  margin 35px 15px 0

.httk-navbar .httk-navbar-nav .httk-navbar-nav-li:last-child
  margin-right 0

.httk-navbar .httk-navbar-nav .httk-navbar-nav-li .httk-navbar-nav-a
  padding 3px 0
  color #0083b3
  font-size 18px
  background transparent
  border-bottom 2px #adadad solid
  font-family 'Proxima Nova Regular', 'Helvetica Neue', Helvetica, Arial, sans-serif

.httk-navbar .httk-navbar-nav .httk-navbar-nav-li .httk-navbar-nav-a:hover,
.httk-navbar .httk-navbar-nav .httk-navbar-nav-li.active .httk-navbar-nav-a,
.httk-navbar .httk-navbar-nav .httk-navbar-nav-li.active .httk-navbar-nav-a:hover
  color #898989
  border-bottom 0
  background transparent

.httk-navbar .httk-logo
  padding 0
  width 100%
  height auto

.httk-navbar .httk-logo .beside-img
  min-height 105px
  display inline-block
  vertical-align middle

.httk-navbar .httk-logo .img-logo
  max-width 470px
  display inline-block

.httk-navbar .httk-logo .logo-short
  display none
  padding 26px 15px

.httk-navbar .httk-logo .img-logo-short
  max-width 126px
  margin-bottom 20px
  display block

.httk-header
  background transparent url('images/bg_header.jpg') center center no-repeat
  min-height 617px
  -webkit-background-size cover
  -moz-background-size cover
  -o-background-size cover
  background-size cover
  position relative
  padding 20px 0 195px

.httk-header .httk-title
  font-size 36px
  font-weight 800
  text-transform uppercase
  font-family 'Proxima Nova Extra Bold', 'Helvetica Neue', Helvetica, Arial, sans-serif
  white-space nowrap
  margin-top 12px

.httk-header .httk-subtitle
  font-size 24px
  font-weight bold
  font-family 'Proxima Nova Bold', 'Helvetica Neue', Helvetica, Arial, sans-serif

.httk-header .header-form
  margin-top 30px

.httk-header .header-form .form-field
  height 63px
  border-radius 3px
  background #fff
  position relative
  padding-top 18px
  margin 0 10px 24px

.httk-header .header-form .form-field:after
  content ''
  position absolute
  top 0
  bottom 0
  right -10px
  left -10px
  background inherit
  border-radius 5% / 100%
  border 2px #898989 solid
  -webkit-box-shadow inset 0 2px 2px 0 rgba(0, 0, 0, 0.2)
  -moz-box-shadow inset 0 2px 2px 0 rgba(0, 0, 0, 0.2)
  box-shadow inset 0 2px 2px 0 rgba(0, 0, 0, 0.2)

.httk-header .header-form .form-field .form-icon,
.httk-header .header-form .form-field .form-input
  position relative
  z-index 4

.httk-header .header-form .form-field .form-icon
  min-width 20px
  margin-right 25px

.httk-header .header-form .form-field .form-icon img
  position absolute
  top -6px
  left 15px

.httk-header .header-form .form-field .form-input
  position relative
  top -17px
  z-index 1
  padding-left 45px
  outline 0
  border 0
  font-size 17px
  width 100%
  text-transform uppercase
  font-family 'Proxima Nova Regular', 'Helvetica Neue', Helvetica, Arial, sans-serif

.httk-header .header-form .form-field .form-select
  width 100%
  top -22px
  padding-left 45px

.httk-header .header-form .form-field .form-select .dropdown-toggle
  color #898989
  font-size 17px
  position relative
  text-transform uppercase
  font-family 'Proxima Nova Regular', 'Helvetica Neue', Helvetica, Arial, sans-serif

.httk-header .header-form .form-field .form-select .dropdown-toggle .caret
  display none

.httk-header .header-form .form-field .form-select .dropdown-toggle:after
  content ''
  position absolute
  top 12px
  right 22px
  height 12px
  width 19px
  background transparent url('images/icon_caret.png') center center no-repeat

.httk-header .header-form .form-field .form-select .dropdown-toggle,
.httk-header .header-form .form-field .form-select .dropdown-toggle:hover,
.httk-header .header-form .form-field .form-select .dropdown-toggle:focus
  z-index 3
  outline 0 !important
  border 0
  padding-left 0
  background transparent
  -webkit-box-shadow inset 0 0 0 transparent
  -moz-box-shadow inset 0 0 0 transparent
  box-shadow inset 0 0 0 transparent

.httk-header .header-form .form-field .form-select .dropdown-menu
  overflow inherit !important
  border 0

.httk-header .header-form .form-field .form-select ul.dropdown-menu li
  margin-left -8px
  margin-right -8px
  background #fff

.httk-header .header-form .form-field .form-select ul.dropdown-menu li a
  height 48px
  line-height 48px
  color #898989
  text-transform uppercase
  padding-left 54px
  font-size 17px
  font-family 'Proxima Nova Regular', 'Helvetica Neue', Helvetica, Arial, sans-serif

.httk-header .header-form .form-field .form-select ul.dropdown-menu li.selected a,
.httk-header .header-form .form-field .form-select ul.dropdown-menu li.selected a:focus
  color #fff
  background #3b729c
  outline 0 !important

.httk-header .header-form .form-field .form-select ul.dropdown-menu:before
  content ''
  position absolute
  top -54px
  bottom 0
  right -10px
  left -10px
  z-index -2
  border-radius 8px
  border 5px #fff solid

.httk-header .header-form .form-field .form-select ul.dropdown-menu:after
  content ''
  position absolute
  top -54px
  bottom 0
  right -10px
  left -10px
  z-index -1
  border-radius 8px
  border 2px #3b729c solid

.httk-header .header-form .form-button
  background #3b729c
  font-size 24px
  font-weight bold
  font-family 'Proxima Nova Bold', 'Helvetica Neue', Helvetica, Arial, sans-serif
  padding 0
  color #fff
  margin-bottom 34px

.httk-header .header-form .form-button:after
  border 0
  -webkit-box-shadow inset 0 -3px 0 0 rgba(0, 0, 0, 0.2)
  -moz-box-shadow inset 0 -3px 0 0 rgba(0, 0, 0, 0.2)
  box-shadow inset 0 -3px 0 0 rgba(0, 0, 0, 0.2)

.httk-header .header-form .form-button .button
  position relative
  z-index 1
  border 0
  outline 0
  width 100%
  height 100%
  background 0
  text-transform uppercase

.httk-header .header-form .form-button:focus
  outline 0

.httk-header .header-form .form-button:focus:after
  -webkit-box-shadow inset 0 -3px 0 2px rgba(0, 0, 0, 0.2)
  -moz-box-shadow inset 0 -3px 0 2px rgba(0, 0, 0, 0.2)
  box-shadow inset 0 -3px 0 2px rgba(0, 0, 0, 0.2)

.httk-header .header-lane
  background rgba(255, 255, 255, 0.5)
  min-height 130px
  padding 38px 0
  margin-bottom -195px

.httk-header .header-lane .row-title
  display inline-block
  margin 10px 15px
  font-size 24px
  font-weight bold
  font-family 'Proxima Nova Bold', 'Helvetica Neue', Helvetica, Arial, sans-serif

.httk-header .header-lane .row-content
  display inline-block
  margin 10px 15px
  font-size 34px
  font-weight 800
  font-family 'Proxima Nova Extra Bold', 'Helvetica Neue', Helvetica, Arial, sans-serif

.httk-header .header-lane .row-button
  display inline-block
  width 300px
  height 63px
  background transparent
  position relative
  margin 10px 35px

.httk-header .header-lane .row-button:after
  content ''
  position absolute
  top 0
  bottom 0
  right -10px
  left -10px
  background inherit
  border-radius 5% / 100%
  border 2px #0083b3 solid

.httk-header .header-lane .row-button .button
  position relative
  z-index 1
  height 63px
  width 100%
  color #0083b3
  text-transform uppercase
  font-size 24px
  background transparent
  border 0
  font-family 'Proxima Nova Regular', 'Helvetica Neue', Helvetica, Arial, sans-serif

.httk-header .header-lane .row-button .button:focus
  outline 0

.httk-header .call-back
  margin-top -12px
  margin-bottom 1px

.httk-header .call-back-popup
  margin-bottom -26px

.httk-header .call-back-popup
  margin-top -12px
  margin-bottom -37px

.httk-header .call-back-popup .header-form
  margin-top 10px

.httk-header .call-back-popup-success .httk-success-msg
  font-size 24px
  font-weight bold
  font-family 'Proxima Nova Bold', 'Helvetica Neue', Helvetica, Arial, sans-serif

.httk-header .header-form-confirm
  position absolute
  top 0
  left 0
  right 0
  background #333
  z-index 10
  padding 75px 0

.httk-header .header-form-confirm .form-field
  min-height 30px
  padding 10px 10px 10px 30px

.httk-header .header-form-confirm .form-field .form-icon
  float left
  width 0
  height 0
  position relative

.httk-header .header-form-confirm .form-field .form-icon img
  position absolute
  top 0
  left -20px

.httk-header .header-form-confirm .form-field .form-content
  text-transform uppercase
  color #fff
  font-size 17px
  font-weight bold
  font-family 'Proxima Nova Bold', 'Helvetica Neue', Helvetica, Arial, sans-serif
  margin-bottom 5px
  padding-left 10px

.httk-header .header-form-confirm .form-divider
  padding 0 40px

.httk-header .header-form-confirm .form-divider hr
  border 0
  width 100%
  height 2px
  background #9c9c9c

.httk-header .header-form-confirm .confirm-button
  padding 0 10px

.httk-header .header-form-confirm .confirm-button .title h1
  margin-top 26px
  color #fff
  font-weight bold
  font-size 24px
  font-family 'Proxima Nova Bold', 'Helvetica Neue', Helvetica, Arial, sans-serif

.httk-header .header-form-confirm .confirm-button .title h1 span
  white-space nowrap

.httk-header .header-form-confirm .confirm-button .subtitle
  position relative

.httk-header .header-form-confirm .confirm-button .subtitle p
  font-size 17px
  font-family 'Proxima Nova Regular', 'Helvetica Neue', Helvetica, Arial, sans-serif
  padding 2px 0
  color #0083b3
  background transparent
  border-bottom 2px #adadad solid
  display inline-block
  position absolute
  top -45px
  left 30px

.httk-header .header-form-confirm .form-button
  background #3b729c
  font-size 24px
  font-weight bold
  font-family 'Proxima Nova Bold', 'Helvetica Neue', Helvetica, Arial, sans-serif
  padding 0
  color #fff
  margin-top 35px
  height 63px
  border-radius 3px
  position relative

.httk-header .header-form-confirm .form-button:after
  content ''
  position absolute
  top 0
  bottom 0
  right -10px
  left -10px
  background inherit
  border-radius 5% / 100%
  border 0
  -webkit-box-shadow inset 0 -3px 0 0 rgba(0, 0, 0, 0.2)
  -moz-box-shadow inset 0 -3px 0 0 rgba(0, 0, 0, 0.2)
  box-shadow inset 0 -3px 0 0 rgba(0, 0, 0, 0.2)

.httk-header .header-form-confirm .form-button .button
  position relative
  z-index 1
  border 0
  outline 0
  width 100%
  height 100%
  background 0
  text-transform uppercase

.httk-header .header-form-confirm .form-button:focus
  outline 0

.httk-header .header-form-confirm .form-button:focus:after
  -webkit-box-shadow inset 0 -3px 0 2px rgba(0, 0, 0, 0.2)
  -moz-box-shadow inset 0 -3px 0 2px rgba(0, 0, 0, 0.2)
  box-shadow inset 0 -3px 0 2px rgba(0, 0, 0, 0.2)

.httk-digital
  min-height 148px
  background #333
  padding 35px 0 10px

.httk-digital .digital-price
  padding 0
  margin-bottom 15px

.httk-digital .digital-price .title
  color #fff
  font-size 24px
  height 34px
  font-weight bold
  font-family 'Proxima Nova Bold', 'Helvetica Neue', Helvetica, Arial, sans-serif

.httk-digital .digital-price .subtitle
  color #fff
  font-size 16px
  font-family 'Proxima Nova Regular', 'Helvetica Neue', Helvetica, Arial, sans-serif

.httk-digital .digital-price .inline
  display inline-block

.httk-digital .digital-price .dot
  width 20px
  position relative

.httk-digital .digital-price .dot:after
  content ''
  position absolute
  width 8px
  height 8px
  top -15px
  left 6px
  border-radius 50%
  background #0a90f0

.httk-digital .digital-price .digital-label
  text-align left
  margin-right 20px

.httk-digital .digital-price .digital-number
  position relative
  height 86px
  width 45px
  font-size 72px
  font-family 'Digital 7', 'Raleway Bold', 'Helvetica Neue', Helvetica, Arial, sans-serif

.httk-digital .digital-price .digital-number:after
  content ''
  position absolute
  top 0
  left 0
  bottom 0
  width 45px
  background #0a91f2
  border-radius 4px
  z-index 0

.httk-digital .digital-price .digital-number .number
  color #fff
  position absolute
  top -6px
  left 0
  z-index 2
  width 45px

.httk-digital .digital-price .digital-number .number:before
  content ''
  display inline-block
  height 100%
  width 1%
  vertical-align middle

.httk-digital .digital-price .digital-number .shadow
  position relative
  float left
  color rgba(51, 51, 51, 0.1)
  top -6px
  left 0
  z-index 1
  width 45px

.httk-digital .digital-price .digital-number .shadow:after
  content ''
  position absolute
  top 49%
  left 0
  width 45px
  height 1px
  background rgba(51, 51, 51, 0.5)
  z-index -1

.httk-body-one
  min-height 725px
  background #fff
  overflow hidden
  padding 45px 0 40px

.httk-body-one .title
  color #333
  font-size 60px
  font-weight 800
  font-family 'Proxima Nova Extra Bold', 'Helvetica Neue', Helvetica, Arial, sans-serif
  text-transform uppercase

.httk-body-one .subtitle
  color #333
  font-size 24px
  font-weight bold
  font-family 'Proxima Nova Bold', 'Helvetica Neue', Helvetica, Arial, sans-serif
  margin-top 40px

.httk-body-one .tab-menu
  margin-top 20px
  border-bottom 0

.httk-body-one .tab-menu .menu-item
  float none
  display inline-block
  margin 0 35px

.httk-body-one .tab-menu .menu-item a,
.httk-body-one .tab-menu .menu-item a:focus,
.httk-body-one .tab-menu .menu-item a:hover
  padding 0
  color #0083b3
  border 0
  border-bottom 2px #adadad solid
  background transparent
  font-size 18px
  font-family 'Proxima Nova Regular', 'Helvetica Neue', Helvetica, Arial, sans-serif

.httk-body-one .tab-menu .menu-item.active a
  color #757575
  border 0

.httk-body-one .tab-bg
  margin-top 50px
  margin-bottom 70px

.httk-body-one .tab-bg .bg-truck
  height 191px
  width 100%
  background transparent url('images/bg_truck.png') center center no-repeat
  -webkit-background-size cover
  -moz-background-size cover
  -o-background-size cover
  background-size cover

.httk-body-one .tab-bg .bg-truck-sm
  display none
  height 191px
  width 100%
  background transparent url('images/img_truck.png') 20px center no-repeat
  -webkit-background-size 100%
  -moz-background-size 100%
  -o-background-size 100%
  background-size 100%

.httk-body-one .tab-bg .bg-cans
  height 208px
  width 100%
  background transparent url('images/bg_cans.png') center center no-repeat
  -webkit-background-size cover
  -moz-background-size cover
  -o-background-size cover
  background-size cover

.httk-body-one .tab-bg .bg-cans-sm
  display none
  height 208px
  width 100%
  background transparent url('images/img_cans.png') 20px center no-repeat
  -webkit-background-size 100%
  -moz-background-size 100%
  -o-background-size 100%
  background-size 100%

.httk-body-one .form-field
  height 63px
  border-radius 3px
  background #fff
  position relative
  padding-top 18px
  margin 0 10px 33px

.httk-body-one .form-field:after
  content ''
  position absolute
  top 0
  bottom 0
  right -10px
  left -10px
  background inherit
  border-radius 5% / 100%
  border 2px #898989 solid
  -webkit-box-shadow inset 0 2px 2px 0 rgba(0, 0, 0, 0.2)
  -moz-box-shadow inset 0 2px 2px 0 rgba(0, 0, 0, 0.2)
  box-shadow inset 0 2px 2px 0 rgba(0, 0, 0, 0.2)

.httk-body-one .form-button
  background #3b729c
  font-size 24px
  font-weight bold
  font-family 'Proxima Nova Bold', 'Helvetica Neue', Helvetica, Arial, sans-serif
  padding 0
  color #fff

.httk-body-one .form-button:after
  border 0
  -webkit-box-shadow inset 0 -3px 0 0 rgba(0, 0, 0, 0.2)
  -moz-box-shadow inset 0 -3px 0 0 rgba(0, 0, 0, 0.2)
  box-shadow inset 0 -3px 0 0 rgba(0, 0, 0, 0.2)

.httk-body-one .form-button .button
  position relative
  z-index 1
  border 0
  outline 0
  width 100%
  height 100%
  background 0
  text-transform uppercase

.httk-body-one .form-button:focus
  outline 0

.httk-body-one .form-button:focus:after
  -webkit-box-shadow inset 0 -3px 0 2px rgba(0, 0, 0, 0.2)
  -moz-box-shadow inset 0 -3px 0 2px rgba(0, 0, 0, 0.2)
  box-shadow inset 0 -3px 0 2px rgba(0, 0, 0, 0.2)

.httk-body-two
  min-height 543px
  background transparent url('images/bg_howtobuy.jpg') center center no-repeat
  -webkit-background-size cover
  -moz-background-size cover
  -o-background-size cover
  background-size cover
  position relative
  padding 45px 0

.httk-body-two .title
  color #333
  font-size 60px
  font-weight 800
  font-family 'Proxima Nova Extra Bold', 'Helvetica Neue', Helvetica, Arial, sans-serif
  text-transform uppercase

.httk-body-two .subtitle
  color #757575
  font-size 18px
  font-family 'Proxima Nova Regular', 'Helvetica Neue', Helvetica, Arial, sans-serif
  margin-bottom 50px
  line-height 24px

.httk-body-two .two-container
  padding 0

.httk-body-two .two-content-item
  text-align left

.httk-body-two .two-content-item .img-beside
  display inline-block
  height 160px
  vertical-align bottom

.httk-body-two .two-content-item .img-icon
  display inline-block
  margin-bottom 35px

.httk-body-two .two-content-item .icon-form
  width 107px
  height 113px

.httk-body-two .two-content-item .icon-order
  width 150px
  height 117px

.httk-body-two .two-content-item .icon-callback
  width 150px
  height 104px

.httk-body-two .two-content-item .icon-truckfuel
  width 179px
  height 85px

.httk-body-two .two-content-item .label-icon
  color #363636
  font-size 24px
  font-weight bold
  font-family 'Proxima Nova Bold', 'Helvetica Neue', Helvetica, Arial, sans-serif

.httk-body-three
  min-height 454px
  background #fff
  padding 45px 0

.httk-body-three .title
  color #003333
  font-size 60px
  font-weight 800
  font-family 'Proxima Nova Extra Bold', 'Helvetica Neue', Helvetica, Arial, sans-serif
  text-transform uppercase

.httk-body-three .subtitle
  color #757575
  font-size 18px
  font-family 'Proxima Nova Regular', 'Helvetica Neue', Helvetica, Arial, sans-serif
  margin-bottom 65px
  line-height 24px

.httk-body-three .three-content-item
  text-align center

.httk-body-three .three-content-item .img-icon
  margin-bottom 25px

.httk-body-three .three-content-item .icon-cash
  height 88px
  width 88px

.httk-body-three .three-content-item .icon-card
  height 91px
  width 120px

.httk-body-three .three-content-item .label-icon
  font-size 24px
  font-weight bold
  font-family 'Proxima Nova Bold', 'Helvetica Neue', Helvetica, Arial, sans-serif

.httk-map
  height 488px

.httk-contact
  background transparent url('images/bg_contacts.jpg') center center no-repeat
  min-height 558px
  -webkit-background-size cover
  -moz-background-size cover
  -o-background-size cover
  background-size cover
  position relative
  padding 45px 0

.httk-contact .title
  font-size 60px
  font-weight 800
  font-family 'Proxima Nova Extra Bold', 'Helvetica Neue', Helvetica, Arial, sans-serif
  color #333
  margin-bottom 25px

.httk-contact .contact-navbar
  float none
  margin-bottom 30px

.httk-contact .contact-navbar .contact-navbar-li
  width 20%
  margin-bottom 30px
  text-align center

.httk-contact .contact-navbar .contact-navbar-li .img-icon
  display inline-block
  vertical-align middle
  position relative
  top -5px
  margin-right 5px

.httk-contact .contact-navbar .contact-navbar-li .contact-navbar-a
  display inline-block
  padding 3px 0
  color #0083b3
  font-size 18px
  background transparent
  border-bottom 2px #adadad solid
  font-family 'Proxima Nova Regular', 'Helvetica Neue', Helvetica, Arial, sans-serif

.httk-contact .contact-navbar .contact-navbar-li .contact-navbar-a:hover,
.httk-contact .contact-navbar .contact-navbar-li.active .contact-navbar-a,
.httk-contact .contact-navbar .contact-navbar-li.active .contact-navbar-a:hover
  color #898989
  border-bottom 0
  background transparent

.httk-contact .contact-item
  padding 0

.httk-contact .contact-item .img-icon
  margin-bottom 40px

.httk-contact .contact-item.phone-number
  white-space nowrap

.httk-contact .contact-item .info
  font-size 36px
  font-weight bold
  color #333
  font-family 'Proxima Nova Bold', 'Helvetica Neue', Helvetica, Arial, sans-serif

.httk-contact .contact-item .info.mailto a
  color #333
  border-bottom 2px #919191 solid

.httk-contact .contact-item .info.mailto a:hover
  color #333
  text-decoration none
  border-bottom 2px #0083b3 solid

.httk-footer
  min-height 130px
  background #333
  line-height 100px
  padding 15px 0

.httk-footer .copyright
  color #fff
  font-size 18px
  font-family 'Proxima Nova Regular', 'Helvetica Neue', Helvetica, Arial, sans-serif

.httk-footer .social-logo .social-icon
  max-height 24px
  max-width 24px
  margin-left 24px
  display inline-block
  cursor pointer

.httk-footer .social-logo .social-icon .img-icon,
.httk-footer .social-logo .social-icon:hover .img-icon-hover
  display block

.httk-footer .social-logo .social-icon:hover .img-icon,
.httk-footer .social-logo .social-icon .img-icon-hover
  display none

.httk-footer .social-logo .social-icon:first-child
  margin-left 0

.httk-footer .social-logo .icon-youtube .img-icon
  width 100%

.httk-footer .social-logo .icon-youtube .img-icon:hover
  background-image url('images/icon_youtube_hover.png')

.httk-footer .social-logo .icon-facebook .img-icon,
.httk-footer .social-logo .icon-facebook .img-icon-hover
  width 11px

.httk-footer .social-logo .icon-skype .img-icon
  width 100%

.bootstrap-datetimepicker-widget.dropdown-menu
  width 100%
  border 0

.bootstrap-datetimepicker-widget.dropdown-menu:before
  content ''
  position absolute
  top -49px !important
  bottom 0
  right -10px
  left -10px !important
  z-index -2
  border-radius 8px
  border 5px #fff solid !important

.bootstrap-datetimepicker-widget.dropdown-menu:after
  content ''
  position absolute
  top -49px !important
  bottom 0
  right -10px
  left -10px !important
  z-index -1
  border-radius 8px
  border 2px #3b729c solid !important

.bootstrap-datetimepicker-widget .list-unstyled
  margin-top 0

.bootstrap-datetimepicker-widget .list-unstyled li:first-child
  margin-left -10px
  margin-right -10px
  background #fff

.bootstrap-datetimepicker-widget .list-unstyled .datepicker-days thead tr:first-child
  background #dfdfdf

.bootstrap-datetimepicker-widget .list-unstyled .datepicker-days thead tr th
  border-radius 0

.bootstrap-datetimepicker-widget .list-unstyled .datepicker-days thead tr:first-child th:hover
  background transparent

@media only screen and (min-width 1280px)
  .httk-header .header-form .form-field
    margin 0 10px 34px

/* ----- MENU RESPONSIVE ----- */

@media only screen and (max-width 1199px)

  #nav .navbar-collapse ul
    margin-right 50px

  #nav .btn-nav
    margin-top 10px

  .navbar-header
    float none

  .navbar-toggle
    display block

  .navbar-collapse
    border-top 1px solid transparent
    box-shadow inset 0 1px 0 rgba(255, 255, 255, 0.1)

  .navbar-collapse.collapse
    display none !important

  .navbar-nav
    float none !important
    margin 8px -15px

  .navbar-nav > li
    float none
    min-height 32px

  .navbar-nav > li > a
    padding-top 10px
    padding-bottom 10px

  .navbar-text
    float none
    margin 15px 0

  .navbar-collapse.collapse.in
    display block !important

  .collapsing
    overflow hidden !important

  .httk-navbar .httk-navbar-collapse
    background #333
    text-align center
    margin 0 -50%
    overflow hidden

  .httk-navbar .httk-navbar-nav .httk-navbar-nav-li
    margin-top 0
    height 40px

  .httk-navbar .httk-navbar-nav .httk-navbar-nav-li:hover
    background #414141

  .httk-navbar .httk-navbar-nav .httk-navbar-nav-li .httk-navbar-nav-a
    border-bottom 0
    line-height 40px

  .httk-digital .digital-price .digital-label
    display block
    text-align center
    margin-bottom 15px

  .httk-digital .digital-price .digital-label .title,
  .httk-digital .digital-price .digital-label .subtitle
    display inline-block

  .httk-contact .contact-navbar .contact-navbar-li
    float left

  .httk-contact .contact-item .info
    font-size 30px

@media only screen and (max-width 1024px)
  .httk-body-two .two-container
    width 100%

  .httk-body-two .two-content-item
    width 50%
    text-align center

  .httk-contact .contact-navbar .contact-navbar-li
    width 33%

  .httk-contact .contact-navbar .contact-navbar-li:nth-child(4)
    margin-left 15%
    width 33%

  .httk-contact .contact-navbar .contact-navbar-li:nth-child(5)
    width 33%

  .httk-contact .contact-item .info
    font-size 24px

@media only screen and (max-width 991px)
  .clearer
    clear both

  .httk-header .header-form-confirm
    padding 60px 0

  .httk-header .header-form-confirm .form-field
    min-height 80px
    padding 10px 10px 10px 30px

  .httk-contact .contact-item
    text-align center
    margin-bottom 40px

  .httk-contact .contact-item .label
    color #333
    font-size 18px
    font-weight bold
    font-family 'Proxima Nova', 'Helvetica Neue', Helvetica, Arial, sans-serif
    margin-bottom 5px

@media only screen and (max-width 740px)
  .httk-header .httk-title
    font-size 24px

  .httk-header .httk-subtitle
    font-size 18px

@media only screen and (max-width 720px)
  .col-xs-3,
  .col-xs-9
    width 100%

  .httk-header .header-form-confirm
    padding 60px 0 50px

  .httk-header .header-form-confirm .form-button
    margin-top 20px

  .httk-header .header-form-confirm .confirm-button .title h1
    margin-top 10px

  .httk-header .header-form-confirm .confirm-button .subtitle p
  .httk-body-one .title
    font-size 36px
    line-height 56px

  .httk-body-two .title,
  .httk-body-three .title
    color #003333
    font-size 36px
    line-height 56px

  .httk-body-one .subtitle,
  .httk-body-two .subtitle,
  .httk-body-three .subtitle
    font-size 14px

  .httk-body-one .tab-bg .bg-truck-sm,
  .httk-body-one .tab-bg .bg-cans-sm
    display block

  .httk-body-one .tab-bg .bg-truck,
  .httk-body-one .tab-bg .bg-cans
    display none

  .httk-footer
    line-height 60px
    padding 20px 0

  .httk-footer .copyright,
  .httk-footer .social-logo
    text-align center

@media only screen and (min-width 720px)
  .httk-header .call-back-popup .header-form .col-phone
    width 50%

  .httk-header .call-back-popup .header-form .col-call
    width 50%

  .httk-header .call-back-popup-success .httk-success-msg
    display inline-block

  .httk-header .call-back-popup-success img
    margin-right 23px

  .httk-header .header-form .form-field
    margin 0 10px 34px

  .httk-header
    padding 38px 0 195px

  .form-button-order
    margin-bottom 56px !important

@media only screen and (max-width 620px)
  .httk-navbar
    min-height 158px

  .httk-navbar .httk-logo .logo
    display none

  .httk-navbar .httk-logo .logo-short
    display block

@media only screen and (max-width 540px)
  .col-xs-6
    width 100%

  .col-xs-offset-3
    margin 0

  .httk-navbar .httk-logo .logo-short .img-title-short
    width 100%

  .httk-header .httk-title
    font-size 15px

  .httk-header .httk-subtitle
    font-size 16px

  .httk-header .header-lane .row-title
    display none

  .httk-header .header-form-confirm
    padding 15px 0

  .httk-header .header-form-confirm .form-field
    min-height 30px
    padding 7px 10px 7px 30px

  .httk-header .header-form-confirm .form-divider
    padding 0 30px

  .httk-header .header-form-confirm .confirm-button .title h1
    margin-top 0

  .httk-header .header-form-confirm .confirm-button .subtitle p
    position static
    margin-top 10px

  .httk-header .header-form-confirm .form-button
    margin-top 15px
    margin-bottom 5px

  .httk-body-two .two-content-item .icon-form
    width 77px
    height 79px

  .httk-body-two .two-content-item .icon-order
    width 102px
    height 79px

  .httk-body-two .two-content-item .icon-callback
    width 102px
    height 79px

  .httk-body-two .two-content-item .icon-truckfuel
    width 120px
    height 57px

  .httk-body-two .two-content-item .label-icon
    font-size 14px

  .httk-contact .contact-navbar .contact-navbar-li
    width 50%

  .httk-contact .contact-navbar .contact-navbar-li:nth-child(4)
    margin-left 0
    width 50%

  .httk-contact .contact-navbar .contact-navbar-li:nth-child(5)
    width 100%

  .httk-body-three .three-content-item
    width 50%
    padding 0

@media only screen and (max-width 480px)
  .httk-header .header-form .col-xs-6
    padding 0

  .httk-header .header-lane
    padding 35px 40px

  .httk-header .header-lane .container
    padding 0

  .httk-header .header-lane .row-content
    margin 10px -30px

  .httk-header .header-lane .row-button
    width 100%
    margin 10px 0

  .httk-header .header-lane .row-button .button
    font-size 18px

  .httk-header .header-form-confirm .confirm-button .button-wrapper
    padding-left 0
    padding-right 0

  .httk-body-two .two-content-item
    padding 0

  .httk-body-one div.container
    padding 0

  .httk-body-three .three-content-item .icon-cash
    height 71px
    width 71px

  .httk-body-three .three-content-item .icon-card
    height 68px
    width 89px

  .httk-body-three .three-content-item .label-icon
    font-size 14px

  .httk-contact .title
    font-size 36px

  .httk-footer .copyright
    font-size 12px

@media only screen and (min-width 480px)
  .httk-header .call-back
    margin-top -26px
    margin-bottom -12px

@media only screen and (min-width 992px)
  .httk-header .header-lane
    padding-top 52px
    padding-bottom 42px

  .httk-header .call-back-popup
    margin-top -21px

@media only screen and (max-width 350px)
  .httk-header .httk-title
    font-size 14px