<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>OV Full-screen</title>
</head>
<body>
<div class="panel panel-default ov-full-screen-anchor">
  <div class="panel-heading">
    abc
    <div ov-full-screen="ov.panelModel"></div>
  </div>
  <div class="panel-body">
    def
  </div>
  <div class="panel-footer">
    ghi
    <button class="btn btn-default"
            ng-click="ov.panelModel.api.exitFullScreen()">Exit full-screen
    </button>
  </div>
</div>
<div class="jumbotron ov-full-screen-anchor">
  <h1>Hello, world!</h1>
  <div ov-full-screen="ov.jumbotron"></div>
  <p>...</p>
  <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>

  <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
    Launch demo modal
  </button>
  <button class="btn btn-default"
          ng-click="ov.jumbotron.api.exitFullScreen()">Exit full-screen
  </button>
</div>
</body>
</html>