@import '../../../../../node_modules/nib'

$headerHeight = 10rem
$footerHeight = 6.8rem
$mainColor = #383a3c
$offset1 = (100 / 12) %
$offset2 = (100 / 6) %

backgroundImg(hex)
  background hex url('../../../../images/grain.png')

.app-header
  backgroundImg(#e49679)
  position fixed
  top 0
  left 0
  right 0
  z-index 88
  box-shadow 0 0.1rem 0.5rem rgba(0, 0, 0, 0.25)
  border-bottom 0.1rem solid rgba(0, 0, 0, 0.15)

  .app-container
    height $headerHeight
    backgroundImg(#e68966)

  .app-navbar
    padding 0
    margin 0
    text-align center
    list-style none
    display flex

    .menu-item
      float left
      width 20%
      padding 3rem 0
      font-family 'Bazar'
      font-size 2.7rem
      text-transform uppercase
      flex 2

      .link
        color #f6edd8
        display inline-block
        position relative
        transition margin-top 0.2s ease
        text-shadow 0 0.3rem 0.3rem rgba(0, 0, 0, 0.2)

        &:hover
          color #ffefca
          text-decoration none
        &:focus
          text-decoration none
        &.active:before,
        &.active:after
          content '..'
          position absolute
          top (-1.5rem)
        &.active:before
          left (-1.5rem)
        &.active:after
          right (-1.5rem)

    .app-logo
      float left
      flex 1
      height $headerHeight
      position relative
      z-index 89

      .logo
        height 12.2rem
        width 12.2rem
        margin-top (-2rem)
        transition margin-top 0.2s ease
        &:hover
          margin-top (-1rem)

        .logo-img
          width 12rem
          height 12rem

        .logo-circle
          cx 6rem
          cy 6rem
          &.avatar
            r 6rem
          &.background
            r 6.1rem
          &.border
            stroke-dasharray 3.5
            stroke-width 1
            .dark
              r 57
            .light
              r 56
