@import '../../../../../node_modules/nib'

$headerHeight = 100px
$footerHeight = 68px
$mainColor = #383a3c
$offset1 = (100 / 12) %
$offset2 = (100 / 6) %

backgroundImg(hex)
  background hex url('../../../../images/grain.png')

.app-footer
  backgroundImg(#4c5057)
  color #f6edd8
  z-index 2
  text-align center
  padding 24px 0
  margin-top (- $footerHeight)
  .link
    color #f6edd8
    &:hover
      text-decoration underline dotted
