.app-footer {
  background: #4c5057 url("../../../../images/grain.png");
  color: #f6edd8;
  z-index: 2;
  text-align: center;
  padding: 2.4rem 0;
  position: relative;
  margin-top: -6.8rem;
}
.app-footer .link {
  color: #f6edd8;
}
.app-footer .link:hover {
  text-decoration: underline dotted;
}
