@import '../../../../../node_modules/nib'

$headerHeight = 10rem
$footerHeight = 6.8rem
$mainColor = #383a3c
$offset1 = (100 / 12) %
$offset2 = (100 / 6) %

backgroundImg(hex)
  background hex url('../../../../images/grain.png')

.section-portfolio
  .portfolio-filter
    display flex
    margin-top 2.4rem
    margin-bottom 0.6rem

    .filter-label
      margin-right 0.8rem
      font-size 1.6rem
      text-align center
      font-family Oswald

    .filter-tag-container
      flex 1
      padding 0
      list-style none

    .filter-tag
      display inline-block
      position relative
      color $mainColor
      cursor pointer
      font-family 'Roboto Slab Bold'
      font-size 1.2rem
      line-height 1.6rem
      background #fcfaf7
      padding 0.4rem 0.8rem
      margin-left 1.2rem
      margin-right 0.9rem
      border-top-right-radius 0.3rem
      border-bottom-right-radius 0.3rem
      box-shadow 0.1rem 0.1rem 0.1rem rgba(0, 0, 0, 0.2)
      &:before
      &:after
        content ' '
        position absolute
      &:before
        top 0
        right 100%
        border-color transparent #fcfaf7 transparent transparent
        border-width 1.2rem 1.2rem 1.2rem 0
        border-style solid
      &:after
        width 0.4rem
        height 0.4rem
        top 1rem
        left 0
        border-radius 50%
        background #959ca3

  .portfolio-list
    margin-bottom 2.4rem

    .portfolio-item
      padding 0 1rem
      margin-bottom 2rem

      .item-wrapper
        position relative
        border-radius 0.3rem
        box-shadow 0 0.2rem 0.1rem rgba(0, 0, 0, 0.15)
        backgroundImg(#fff)
        overflow hidden

        .item-detail
          position absolute
          top 2.5rem
          right 0
          height 12.5rem
          left 0
          padding-top 2rem
          backgroundImg(#f7f3e5)
          z-index 1
          overflow hidden
          box-shadow inset 0 0 0.4rem rgba(0, 0, 0, 0.1)
          .list-detail
            font-size 1.2rem

      .item-content
        z-index initial
        display block
        position relative
        color $mainColor
        margin 0.4rem
        overflow hidden
        cursor pointer

        .sliding-content
          position relative
          top 0
          z-index 2
          transition top 0.25s ease

        .item-thumbnail
          height 15rem
          overflow hidden
          .item-img
            width 100%

        .item-icon
          display block
          position relative
          margin (-2.2rem) auto 0
          background #fcfaf7
          color #828c8e
          width 4.4rem
          height 4.4rem
          text-align center
          border-radius 50%
          box-shadow 0 0.1rem 0.1rem rgba(0, 0, 0, 0.2)
          z-index 2
          .icon-img
            width 2.4rem
            margin-top 1rem

        .item-caption
          text-align center
          font-size 1.2rem
          font-weight bold
          margin-top 1rem
          display flex
          text-transform uppercase

          .separator
            position relative
            &:before
              content ' '
              border-left 0.1rem #e6e1d0 solid

          .caption-span
            flex 1
            position relative
            &.left
              z-index 2
              .span-content
                right (-50%)
                backgroundImg(#fff)
            &.right
              z-index 1
              overflow hidden
              .span-content
                text-decoration underline dotted
                color #d35244
                left (-100%)

            .span-content
              position relative
              transition all 0.25s ease

      .item-wrapper.detailed
        .sliding-content
          top (-12.5rem)
        .caption-span
          &.left
            .span-content
              right 0 !important
          &.right
            .span-content
              left 0 !important

  .portfolio-discovery
    text-align center
    padding-bottom 2.4rem
    .discovery-btn
      background transparent
      border 0
      outline 0
      text-transform uppercase
      font-family 'Oswald Bold'
      padding 0.6rem 0 0
      position relative
      &:before
        content ' '
        position absolute
        top 0
        left 0
        right 0
        height 0.2rem
        background $mainColor
        transform scaleX(0.6)
        transition transform 0.3s ease
      &:hover:before
        transform scaleX(1)

@media (max-width 512px)
  .portfolio-item
    width 100%