.section-heading {
  padding-bottom: 1.6rem;
}
.section-heading .section-title {
  font-size: 7.5rem;
  font-family: 'Bazar';
  text-align: center;
  text-transform: uppercase;
  text-shadow: 0.1rem 0.2rem #fcfaf7, 0.3rem 0.4rem #484a4d;
  padding-top: 1.6rem;
  margin-top: 3.2rem;
  margin-bottom: 0.6rem;
}
.section-heading .section-subtitle {
  text-align: center;
  font-family: Oswald;
  text-transform: uppercase;
  font-size: 1.6rem;
}
.section-heading .section-separator {
  text-align: center;
  font-size: 2rem;
  line-height: 2.2rem;
  color: rgba(56,58,60,0.75);
}
.section-heading .section-separator .solid-line {
  position: relative;
  display: inline-block;
  width: 4.5rem;
}
.section-heading .section-separator .solid-line:before,
.section-heading .section-separator .solid-line:after {
  content: '';
  width: 4.5rem;
  position: absolute;
  top: 1.1rem;
  border-bottom: 0.1rem rgba(56,58,60,0.75) solid;
}
.section-heading .section-separator .solid-line:before {
  right: 100%;
}
.section-heading .section-separator .solid-line:after {
  left: 100%;
}
