<!DOCTYPE html>
<html lang="en" class="no-js lt-ie9 lt-ie8 lt-ie7" ng-controller="DemoController as demo">
<head>
  <base href="/">
  <meta charset="UTF-8">
  <title>Demo Zone</title>
  <!--<title>{{ 'mMnger' | i18next }}</title>-->
  <meta name="description" content="Sample Apps Using AngularJS">
  <meta name="viewport" content="width=device-width">

  <link rel="icon" type="image/png" sizes="16x16" href="images/favicon.png">
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css"/>
  <link rel="stylesheet" href="bower_components/bootstrap-select/dist/css/bootstrap-select.min.css"/>
  <link rel="stylesheet" href="bower_components/bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css"/>
  <link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.min.css"/>

  <!--include ti-components module's required files-->
  <link rel="stylesheet" href="scripts/components/ti-full-screen/style.css">
  <link rel="stylesheet" href="scripts/components/ti-tree-view/style.css">

  <!--include demo module's required files-->
  <link rel="stylesheet" href="scripts/modules/demo/style.css">
</head>
<body ng-cloak>

  <div id="main-wrapper" class="main-wrapper container">
    <header id="appHeader" class="app-header">
      <nav id="appNav" class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="/demo#/">Project</a>
          </div>
          <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              <li ng-class="{ active: demo.menu === 'demo#/home' }">
                <a href="/demo#/home" ng-click="demo.activateMenu($event)">Home</a>
              </li>
              <li ng-class="{ active: demo.menu === 'demo#/tree-view' }">
                <a href="/demo#/tree-view" ng-click="demo.activateMenu($event)">OV Tree View</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>

    <section ng-view></section>

    <footer id="appFooter" class="app-footer"></footer>
  </div>

  <script src="bower_components/jquery/dist/jquery.min.js"></script>
  <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="bower_components/lodash/dist/lodash.min.js"></script>

  <script src="bower_components/angular/angular.min.js"></script>
  <script src="bower_components/angular-route/angular-route.min.js"></script>
  <script src="bower_components/angular-sanitize/angular-sanitize.min.js"></script>
  <script src="bower_components/angular-animate/angular-animate.min.js"></script>
  <script src="bower_components/angular-vs-repeat/src/angular-vs-repeat.js"></script>

  <!--include ti-components module's required files-->
  <script src="scripts/components/config.js"></script>
  <script src="scripts/components/ti-full-screen/directive.js"></script>
  <script src="scripts/components/ti-tree-view/directive.tree.js"></script>
  <script src="scripts/components/ti-tree-view/directive.node.js"></script>

  <!--include demo module's required files-->
  <script src="scripts/modules/demo/config.js"></script>
  <script src="scripts/modules/demo/controller.js"></script>
  <script src="scripts/modules/demo/ti-tree-view-demo/controller.js"></script>

  <!--bootstrap module-->
  <script src="scripts/app.demo.js"></script>
</body>
</html>